# Week 3 : Assignment Capstone Project-Segmenting & clustering Toronto neighbourhoods 
## Part 2

In [8]:
import pandas as pd
import numpy as np

In [15]:
# this task will only performed when you have your csv file uplodeted in this tree 
# you can see "Toronto.TASK_1_df.csv"  uploded or created by another notebook in the tree 
task1_data_csv = "Toronto.TASK_1_df.csv"
df1 = pd.read_csv(task1_data_csv).set_index("Postal Code")
df1

                 Borough                                       Neighborhood
Postal Code
M1B          Scarborough                                     Malvern, Rouge
M1C          Scarborough             Rouge Hill, Port Union, Highland Creek
M1E          Scarborough                  Guildwood, Morningside, West Hill
M1G          Scarborough                                             Woburn
M1H          Scarborough                                          Cedarbrae
...                  ...                                                ...
M9N                 York                                             Weston
M9P            Etobicoke                                          Westmount
M9R            Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
M9V            Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
M9W            Etobicoke                Northwest, West Humber - Clairville

[103 rows x 2 columns]

In [16]:
df1.rename_axis("Postal Code", axis='index', inplace=True)
df1.head()

                 Borough                            Neighborhood
Postal Code
M1B          Scarborough                          Malvern, Rouge
M1C          Scarborough  Rouge Hill, Port Union, Highland Creek
M1E          Scarborough       Guildwood, Morningside, West Hill
M1G          Scarborough                                  Woburn
M1H          Scarborough                               Cedarbrae

## Now we are connecting above dataframe with Latitude & Longitude , where we have this given link for use of it   "http://cocl.us/Geospatial_data"

In [9]:
filename = "http://cocl.us/Geospatial_data"

In [14]:
df2 = pd.read_csv(filename)
df2

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

#### So, here
#### df1 = is a data of toronto with postal code and other details
#### df2 = same postal codes with their Latitude & Longitude

### Left merging "df1" and "df2" (dataframes) to add Latitude and Longitude values to df1 dataframe and name the merged dataframe as as "df3"

In [17]:
df3 = pd.merge(df1, df2, on ='Postal Code', how ='left')
df3

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

In [18]:
len(df3["Latitude"])

103

In [20]:
# to convert this file in to csv verstion 
df3.to_csv('Toronto.TASK_2_df.csv',index=False)